<%= render "dashboard/components/topbar" %>

<div class="category-top-gradient"></div>

<div class="ai-overview">
  <div class="">CLARA01 Overview</div>
  <div class="">
    The Product Team’s messaging and response cadence remain on track, but we noted a 50% uptick in “tired” or “overwhelmed” mentions this week and a mild mid-week tone dip. Cynicism stayed low, celebration posts rose by 20%, and requests for extra validation fell to zero, indicating resilience despite the extra fatigue language.
  </div>
  <div class="">Read more</div>
</div>

<%= render "dashboard/components/gauge"%>

<div class="dashboard-last-100-container" style="margin-top:40px;">
  <%= render "dashboard/components/recent_signals" %>
</div>

<div class="category-overview">
  Burnout Overview<br>
  Collective focus and agreement on critical tasks.
</div>

<div class="submetric-breakdown">
  Submetric Breakdown<br>
  Exhaustion<br>
  Cynicism<br>
  Insecurity
</div>

<div class="recent-insights">
  Recent Insights
  <br><br>
  Over the past 4 weeks, the average employee spent 30 hours per week in meetings. This can definitely increase burnout score and bring exhaustion to your employees.
  <br><br>
  Over the past 4 weeks, the average employee spent 30 hours per week in meetings. This can definitely increase burnout score and bring exhaustion to your employees.
  <br><br>
  Over the past 4 weeks, the average employee spent 30 hours per week in meetings. This can definitely increase burnout score and bring exhaustion to your employees.
</div>

<div class="framework-container">
  About
  <br><br>
  Inspired by the dimensions of burnout as conceptualized in academic research, such as the MBI, our system reflects key psychological markers of emotional exhaustion, detachment, and perceived effectiveness. The Maslach Burnout Inventory (MBI) is the most widely used and validated tool for assessing occupational burnout, developed by psychologist Christina Maslach and colleagues. It breaks burnout into three measurable dimensions: emotional exhaustion, depersonalization (or cynicism), and reduced personal accomplishment. The MBI has been used extensively across industries and organizations, including healthcare systems, educational institutions, and Fortune 500 companies, to assess employee well-being and guide interventions.
  <br><br>
  To learn more, see the book “The Truth About Burnout” by Christina Maslach and Michael Leiter, visit the MBI publisher's site at Mind Garden (www.mindgarden.com), or explore research by Maslach through UC Berkeley’s Greater Good Science Center.
</div>
