<% mt = local_assigns[:model_test] || @model_test %>

<ol class="mtb-list">
  <li><%= link_to "Dashboard", admin_path, class: "mtb-link" %></li>
  <li aria-hidden="true" class="mtb-sep">/</li>
  <li><%= link_to "Model Tests", model_tests_path, class: "mtb-link" %></li>
</ol>

<h2 class="mtb-title"><%= mt&.name.presence || "Model Tests" %></h2>
