<div class="integration-modal">
  <div class="integration-modal-icons">
    <%= image_tag "apps/zoom2.png" %>
    <%= image_tag "apps/slack2.png" %>
    <%= image_tag "apps/microsoft_teams2.png" %>
  </div>
  <div class="integration-modal-heading">Set up your first Integration</div>
  <div class="integration-modal-subheading">Select one of our integrations to begin building out your culture dashboard. </div>
  <a href="<%= integrations_path %>" class="integration-modal-link">Browse Integrations</a>
</div>

<div class="integration-modal-backdrop"></div>
