<table class="list" style="max-width: 600px;">
  <tr>
    <td>Engagement</td>
    <td style="color: var(--slate-500);">74</td>
  </tr>
  <tr>
    <td>Culture</td>
    <td style="color: var(--slate-500);">68</td>
  </tr>
  <tr>
    <td>Wellbeing</td>
    <td style="color: var(--slate-500);">82</td>
  </tr>
</table>
