<div class="card">
  <div class="card-header">
    Subscribe to Pulse
  </div>
  <div class="card-body">
    <p>Subscribe now to get full insights for your organization!</p>
    <%= button_to "Subscribe Now", subscriptions_path, method: :post, class: "btn btn-success" %>
  </div>
</div>
