<% content_for :page_title do %>
  Edit Partner Resource
<% end %>

<% content_for :page_subtitle do %>
  Update this resource.
<% end %>

<section class="admin-section">
  <%= render "form" %>
</section>
