<% content_for :page_title do %>
  New Partner Resource
<% end %>

<% content_for :page_subtitle do %>
  Add a resource file/link to the Partner Resources page.
<% end %>

<section class="admin-section">
  <%= render "form" %>
</section>
