<div class="card">
  <div class="card-header">
    Insight Detail (<%= @insight.scope.titleize %>)
  </div>
  <div class="card-body">
    <h5>Content:</h5>
    <p><%= @insight.content %></p>
    <h5>Analysis:</h5>
    <p><%= @insight.analysis %></p>
  </div>
</div>
