<div class="main">
  <% if @chat_primary_layout %>
    <div class="content content--clara-home">
      <%= yield %>
    </div>
  <% else %>
    <div class="content">
      <div class="content-inner">
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>
