<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Geist:wght@300..900&display=swap" rel="stylesheet">
  <style>
    body { padding: 24px; background: var(--slate-50); font-family: "Geist", sans-serif; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
